APP_PORT=
TENANT_ID=
ACTIVE_DIRECTORY_ENDPOINT=
CLIENT_ID=
CLIENT_SECRET=
SPRING_REDIS_HOST=
SPRING_REDIS_PORT=
SPRING_REDIS_PASSWORD=
SPRING_REDIS_SSL=
NVD_API_KEY=
DEPENDENCY_CHECK_ANALYZE_ENABLED=false
